body{
    background-color: rgb(22, 162, 184);
color: rgb(234, 14, 14);
    font-family: "Story Script", sans-serif;
    margin: 0px;
}


header{
    font-size: 40px;
    border-top:  5px rgb(10, 10, 10);
 /*margin: 30px;*/
padding: 30px;
}
h1{
    font-size: 30px
}

p{
    font-size: 30px;
}