body{
    background-color: rgb(54, 55, 55);
color: rgb(37, 132, 228);
    font-family: "Story Script", sans-serif;
    margin: 0px;
}


header{
    font-size: 40px;
    text-align: center;
    border-bottom:  5px rgb(11, 232, 99);
 /*margin: 30px;
padding: 30px;
}
h1{
    font-size: 30px
}

p{
    font-size: 30px;
}